<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titantic Predictor</title>
</head>
<body>
   <h1>Home</h1> 
   <h3>Will you survive the Titantic?</h3>
   <p>Give us your boarding pass info</p>

   <form action="{% url 'result' %}">Boarding Pass Info<
    {% csrf_token %}
    <p>Pclass</p>
   <input type="text" name='pclass'>
   <p>Sex</p>
   <input type="text" name='sex'>
   <p>Age</p>
   <input type="text" name='age'>
   <p>Sibsp</p>
   <input type="text" name='sibsp'>
   <p>Parch</p>
   <input type="text" name='parch'>
   <p>Fare</p>
   <input type="text" name='fare'>
   <p>Embarked</p>
   <input type="text" name='embarked'>
   <p>Title</p>
   <input type="text" name='title'>
   <input type="submit">
   </form>
</body>
</html>